@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Event Planner</h1>
    <h2 class="display-6">Welcome</h2>
    <p>Please choose one of the links in the navigation bar</a>.</p>
</div>
