html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #141414;
}

header {
    color: #ffffff;
}

tr {
    color: #ffffff;
}

p {
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

h5 {
    color: #ffffff;
}

h6 {
    color: #ffffff;
}

label {
    color: #ffffff
}

dt {
    color: #ffffff
}

dd {
    color: #ffffff
}

.modal-content {
    background-color: #141414;
    color: #ffffff;
}

.modal-header {
    border-bottom: 1px solid #ffffff;
}

.modal-footer {
    border-top: 1px solid #ffffff;
}

modal-header .close {
    color: #ffffff;
    opacity: 1;
}

.modal-header .close:hover {
    color: #e6e6e6;
}

input, select, textarea {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #ffffff;
}